#light {
    display: inline-block;
    width: 300px;
    height: 100px;
    background: black;
    float: left;
}
#stop {
    background: red;
}
#warn {
    background: yellow;
}
#go { 
    background: green;
}

.light {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
}

#pillar{  
    display: inline-block; 
    width: 20px;
    height: 400px;
    background: black;
    float: left;
}
#connect{
    display: inline-block;
    width: 50px;    
    height: 30px;
    float: left;
    margin-top: 35px;
    background-color: black;
}
#sky{
    background: skyblue;
    height: 400px;
    padding: 50px 10px 0 10px;
}
#ground{
    background: rgb(102, 67, 13);
    height: 50px;
}